*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: "Inter", sans-serif;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5vh;
  
}


/* CATEGORY SELECTON */

#category{
  background-color: rgb(242, 242, 242);
  font-weight: 700;  
  height: 6vh;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
#category>*{
  display: inline-block;
  padding: 2vh 10vw;
  
}
#category>*:hover{
  background-color: black;
  color: azure;
}

#category img{
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(1);
  margin-right: 5px;

}

#cardcontainer{
  height: 60vh;
  width: 90vw;
  background-color: aqua;
} 
.card{
  width: 20%;
  height: 100%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productimage{
  width: 100%;
  height: 75%;
  border-radius: 5px;
}
.contentLineone{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1%;

}
.linethrough{
  text-decoration: line-through;
}
.discount{
  color: red;
}

.cardbutton{
  width: 100%;
  height: 10%;
  background-color: black;
  color: aliceblue;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: none;
}